body{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    gap: 8px;
    margin-top: 15px;
    background-color: #373737;
}

.title{
    display: flex;
    width: 28vw;
    justify-content: space-around;
    align-items: center;
}

#score, #timer{
    height: 40px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    font-size: x-large;
    color: white;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--noOfCol), var(--squareSize));
    grid-template-rows: repeat(var(--noOfRow), var(--squareSize));
    grid-gap: var(--gapSize);
}

.square{
    background-color: #767676;
    box-shadow: 4px 4px 25px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(218, 218, 218, 0.2);
    border: var(--border);
    font-weight: 400;
    font-weight: 900;
    font-size: larger;
}

.square:hover{
    border: 2px solid black;
}

.active, .active:hover, .square:active{
    background-color: #a8a8a8;
    border: 2px solid black;
    transform: translate(3%, 3%);
}

.flag, .flag:hover .flag:active{ 
    background-image: url(assets/Flag.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(3%, 3%);
    border: 2px solid black;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset{
    background-color: #767676;;
    width: 50px;
    height: 53px;
    background-image: url(assets/smile.png);
    background-size: cover;
    background-position: center;
}

#reset:active{
    background-image: url(assets/;O.png);
}

#reset.lose {
    background-image: url(assets/lose.png);
}

#reset.win {
    background-image: url(assets/win.png)
}

#reset.face {
    background-image: url(assets/;O.png);
}

.bomb {
    background-image: url(assets/bomb.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes flash {
    0% { background-color: initial; }
    50% { background-color: rgb(84, 108, 84); } 
    100% { background-color: initial; }
}

#board .flash {
    animation: flash 0.6s 2;
}

.text-1{
    color: blue;
}

.text-2{
    color: red;
}

.text-3{
    color: rgb(0, 147, 5);
}

.text-4{
    color: rgb(100, 0, 88);
}

.text-5{
    color: rgb(0, 88, 100);
}

.text-6{
    color: rgb(87, 97, 0);
}

.text-7{
    color: rgb(97, 0, 0);
}

#game-over{
    color: white;
    height: 50px;
    width: 28vw;
    text-align: center;
    line-height: 50px;  
}

.settings{
    display: flex;
    gap: 20px;
}

.difficulty{
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #767676;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.difficulty:hover{
    background-color: #a8a8a8;
}