body{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    gap: 5px;
    margin-top: 15px;
}

#board{
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.square{
    background-color: black;
    border: 2px solid red;
    color: white;
}

.active{
    background-color: green;
}

.flag{ 
    background-color: yellow;
}